{% macro field(name, label, dates) %}

<div class="filter date-choice-field" id="{{ name }}">
  <fieldset>
  <legend for="{{ name }}" class="label">{{ label }}</legend>
    <ul>
      <li>
        <input id="radio-2" name="{{ name }}" type="radio" data-min-date={{ dates['month'][0] | date(fmt='%m-%d-%Y') }} data-max-date={{ dates['month'][1] | date(fmt='%m-%d-%Y') }}>
        <label for="radio-2">This month</label>
      </li>
      <li>
        <input id="radio-3" name="{{ name }}" type="radio" data-min-date={{ dates['quarter'][0] | date(fmt='%m-%d-%Y') }} data-max-date={{ dates['quarter'][1] | date(fmt='%m-%d-%Y') }}>
        <label for="radio-3">This quarter</label>
      </li>
      <li>
        <input id="radio-4" name="{{ name }}" type="radio" data-min-date={{ dates['year'][0] | date(fmt='%m-%d-%Y') }} data-max-date={{ dates['year'][1] | date(fmt='%m-%d-%Y') }}>
        <label for="radio-4">This year</label>
      </li>
      <li>
        <input id="radio-5" name="{{ name }}" type="radio">
        <label for="radio-5">Custom</label>
      </li>
    </ul>
  </fieldset>
  <div class="date-range">
    <fieldset name="min_{{ name }}" class="js-min-date js-date-input">
      <legend class="label">From</legend>
      <div class="date-range--month">
        <input type="text" id="min-month" name="min-month">
        <label for="min-month">mm</label>
      </div>
      <div class="date-range--day">
        <input type="text" id="min-day" name="min-day">
        <label for="min-day">dd</label>
      </div>
      <div class="date-range--year">
        <input type="text" id="min-year" name="min-year">
        <label for="min-year">yyyy</label>
      </div>
    </fieldset>
    <fieldset name="max_{{ name }}" class="js-max-date js-date-input">
      <legend class="label">To</legend>
      <div class="date-range--month">
        <input type="text" id="max-month" name="max-month">
        <label for="max-month">mm</label>
      </div>
      <div class="date-range--day">
        <input type="text" id="max-day" name="max-day">
        <label for="max-day">dd</label>
      </div>
      <div class="date-range--year">
        <input type="text" id="max-year" name="max-year">
        <label for="max-year">yyyy</label>
      </div>
    </fieldset>  
  </div>
</div>

{% endmacro %}
